[user]
	email = user@gmail.com
	name = Kazi Foyez Ahmed
[alias]
	s = status -sb
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = ~/.gitexcludes
	attributesFile = ~/.gitattributes
	ignorecase = false
[color]
	ui = auto
[push]
	default = current
[stash]
	showPatch = true
[rebase]
	autostash = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[delta]
	plus-style = syntax "#012800"
	minus-style = normal "#340001"
	syntax-theme = Monokai Extended
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true

# ref: https://github.com/torifat/dotfiles/blob/main/git/.gitconfig